select {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
    margin-bottom:10px;
    border-radius: 5px;
    background-color: rgb(70, 67, 67);
  }

.meme-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.botones {
  display: block;
  text-align: center;
  margin-bottom: 0px;
}

.login{
  margin-right: 10px;
  background-color: rgb(41, 38, 42);
}
.register{
  background-color: rgb(41, 38, 42);
}
